# Ignore all dot files except
.*
!.editorconfig
!.eslintrc.yaml
!.gitignore
!.prettierignore
!.prettierrc
!.tool-versions

######################
# Node
######################
node_modules/
tsconfig.tsbuildinfo

######################
# Intellij Idea
######################
*.iml
.idea/

######################
# Visual Studio Code
######################
.vscode/

######################
# Project
######################
lib/
